<!--<form>-->
<h2>Welcome in langpath application.</h2>
<p>Please register new user and enjoy with play on the platform</p>
<br />
<div class="col-md-5">
    <form>
        <div class="form-group">
            <label for="firstName">First name</label>
            <input type="text" class="form-control" id="firstName" placeholder="First name" ng-model="user.firstName">
        </div>

        <div class="form-group">
            <label for="lastName">Last name</label>
            <input type="text" class="form-control" id="lastName" placeholder="Last name" ng-model="user.lastName">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <button class="btn btn-default" ng-clilc="createNewUser()">Save</button>
        <button class="btn btn-default" ng-clilc="createNewUser()">Cancel</button>
    </form>
</div>
<!--</form>-->